body {
    background-color: rgb(22, 22, 22);
    font-family: Verdana;
    color: white;
    font-size: 25px;
}

.image {
    transition: all 150ms;
    position: relative;
    user-select: none;
    border-color: white;
    border-width: 50px;
    border-bottom: 10px;
    border-radius: 25px;
}
.image:hover {
    border-radius: 15px;
}